<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="../public/assets/css/normalize.css"> <!-- load normalize css -->
    <link rel="stylesheet" href="../public/assets/css/style.css"> <!-- load style -->
    <style type="text/css"> 
      h1 { 
        text-align: center;
        color: #ff009b;
       }
       body{ 
        text-align: center;
         }
         html, body, #doc, #page-outer {
           
            margin: inherit;
            background-color: black;
      }
      h3, p, h2{ 
        color:white;
       }
      .btn-warning {
        color: #fff;
        background-color: #ff009b;
        border-color: #ff009b;
      }
    </style>
<head>
  <title>Bookmarks on Steroids</title>
</head>
<h1> All of your Bookmarks </h1>
<body>
<div class="row">
  <div class="col-sm-6">
        <h2>Categories Here</h2>

    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Title Given</h3>
        <p class="card-text">This is where the description will be listed</p>
        <button type="submit" class="btn btn-warning btn-lg" id="goButton" style="border-color:# color: #ff009b;">Go Somewhere</button>
      </div>
      <div class="card-block">
        <h3 class="card-title">Title Given</h3>
        <p class="card-text">This is where the description will be listed</p>
        <button type="submit" class="btn btn-warning btn-lg" id="goButton" style="border-color:#ff009b color: #ff009b;">Go Somewhere</button>
      </div>
      <div class="card-block">
        <h3 class="card-title">Title Given</h3>
        <p class="card-text">This is where the description will be listed</p>
        <button type="submit" class="btn btn-warning btn-lg" id="goButton" style="border-color:#ff009b color: #ff009b;">Go Somewhere</button>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <h2>Categories Here</h2>
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Title Given</h3>
        <p class="card-text">This is where the description will be listed</p>
        <button type="submit" class="btn btn-warning btn-lg" id="goButton" style="border-color:#ff009b color: #ff009b;">Go Somewhere</button>
      </div>
      <div class="card-block">
        <h3 class="card-title">Title Given</h3>
        <p class="card-text">This is where the description will be listed</p>
        <button type="submit" class="btn btn-warning btn-lg" id="goButton" style="border-color:#ff009b color: #ff009b;">Go Somewhere</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>