<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="../public/assets/css/normalize.css"> <!-- load normalize css -->
    <link rel="stylesheet" href="../public/assets/css/style.css"> <!-- load style -->
    <style type="text/css">
      #formGroupExampleInput{ 
            width: 600px;
       }
      html{ 
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 32px;
        padding-top: 5px;
       }

    </style>
<head>
  <title>
    Bookmarks on Steroids
  </title>
  <h1 class="display-1">Bookmarks on Steroids</h1>
</head>
<body>

<form class="form-inline">

  <form>
  <div class="form-group">
    <label for="formGroupExampleInput">Save Bookmark</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter URL">
  </div>

</form>



  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Catagories</label>
  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
    <option selected>Choose...</option>

    <option value="1">Work</option>
    <option value="2">School</option>
    <option value="3">Cooking</option>
    <option value="3">Kids</option>
    <option value="3">Family</option>
    <option value="3">Christmas Gifts</option>
    <option value="3">Birthday Gifts</option>

  </select>


  <button type="submit" class="btn btn-primary my-1">Submit</button>
</form>
</body>
</html>